ion-toolbar {
  --background: #fff;
  --border-width: 0 0 1px 0;
  --border-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  border: none;
  box-shadow: none;
}

ion-back-button {
  font-size: 17px;
  color: rgba(193, 0, 93, 0.722);
}
.custom-header {
  --background: #f8f8f8;
}

.image-container {
  position: relative;
}

.background-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.3;
}

.cards-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 0 10px;
}

.overlay-card {
  // width: 100px;
  // height: 100px;
  width: 150px;
  height: 167px;
  margin: 0 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  // padding: 1px 5px 5px;
  padding: 8px 9px 40px 9px;
}

.overlay-card ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-card {
  margin-top: 140px;
  padding: 15px;
  border-radius: 15px;
}

.details-card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.details-card p {
  font-size: 1rem;
  margin: 5px 0;
}

.details-card ul {
  padding-left: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills ion-chip {
  margin-right: 8px;
  margin-top: 5px;
}

.project-details {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

.detail-item {
  margin-bottom: 16px; /* Espaçamento entre os itens */
}

.detail-item-label {
  display: block; /* Faz com que o título ocupe toda a largura */
  font-weight: 600;
  color: #e000a1;
  margin-bottom: 8px; /* Espaçamento entre o título e a linha divisória */
}

.detail-item-value {
  font-size: 16px;
  color: #333;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 8px 0; /* Espaço acima e abaixo da linha */
}

.inline-items {
  display: flex;
  gap: 16px;
}

.inline-items .detail-item {
  flex: 1;
}

.resource-list {
  list-style-type: disc;
  margin-left: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.skills-list ion-chip {
  background-color: #ffd8f1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: oblique;
}
