<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <img
      src="../../assets/img/logo-icon.png"
      alt="logo-icon"
      class="logo-icon"
      slot="start"
    />
    <img
      src="../../assets/img/logo-letter.png"
      alt="logo-letter"
      class="logo-letter"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <img src="assets/img/back-profile.png" alt="Background" />
    <div class="profile-info">
      <div class="profile-picture">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
      <h2>Meu perfil</h2>
      <p>Olá, {{ user?.name }}!</p>
      <!-- Nome do usuário dinâmico -->
    </div>
  </div>

  <div class="profile-actions">
    <ion-card>
      <ion-card-content>
        <div class="info-row" (click)="toggleInfo('personal')">
          <p>Informações pessoais</p>
          <ion-icon name="add-outline"></ion-icon>
        </div>
        <div *ngIf="expandedInfo === 'personal'" class="extra-info">
          <p>- Nome: {{ user?.name }}</p>
          <p>- E-mail: {{ user?.email }}</p>
          <p>- Telefone: {{ user?.phone }}</p>
        </div>

        <div class="separator"></div>

        <div class="info-row" (click)="toggleInfo('address')">
          <p>Meu endereço</p>
          <ion-icon name="add-outline"></ion-icon>
        </div>
        <div *ngIf="expandedInfo === 'address'" class="extra-info">
          <p>- Rua: {{ user?.endereco?.road }}</p>
          <p>- Bairro: {{ user?.endereco?.neighborhood }}</p>
          <p>- CEP: {{ user?.endereco?.zipcode }}</p>
          <p>- Estado: {{ user?.endereco?.state }}</p>
          <p>- Cidade: {{ user?.endereco?.city }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/hours-detail">
      <ion-card-content class="hours">
        <ion-icon name="time-outline" class="time-outline"></ion-icon>
        <div class="hours-total">
          <p class="total-hours">{{ user?.totalHours }} horas</p>
          <p class="estimated-hours">Estimativa de horas de voluntariado</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
