<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <img
      src="../../assets/img/logo-icon.png"
      alt="logo-icon"
      class="logo-icon"
      slot="start"
    />
    <img
      src="../../assets/img/logo-letter.png"
      alt="logo-letter"
      class="logo-letter"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de Pesquisa -->
  <div class="search-bar">
    <ion-icon name="location-outline" class="icon"></ion-icon>
    <ion-searchbar
      placeholder="Pesquisar..."
      class="search-input"
    ></ion-searchbar>
    <ion-icon name="funnel-outline" class="icon"></ion-icon>
  </div>

  <!-- Seção Notícias -->
  <h2 class="section-title">Notícias</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="news-card">
          <ion-img src="../../../assets/img/news1.png"></ion-img>
          <ion-card-content class="news-content">
            <p class="news-date">18/08/2021</p>
            <p class="news-text">Preocupação ambiental em SP</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="news-card">
          <ion-img src="../../../assets/img/news2.png"></ion-img>
          <ion-card-content class="news-content">
            <p class="news-date">18/08/2021</p>
            <p class="news-text">Preocupação ambiental em SP</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Seção Ações de Voluntariado -->
  <h2 class="section-title">Ações do Voluntariado</h2>
  <div class="filters">
    <ion-button class="filter-button active">Todos</ion-button>
    <ion-button class="filter-button">Recente</ion-button>
  </div>

  <!-- Card Voluntariado -->
  <ion-card class="volunteer-card">
    <!-- Imagem do Cartão com Legenda da Empresa -->
    <ion-img
      src="../../../assets/img/imgcard.png"
      class="volunteer-img"
    ></ion-img>

    <div class="image-caption">
      <span class="company-name">Empresa XYZ</span>
    </div>

    <!-- Conteúdo do Card -->
    <ion-card-content class="volunteer-content">
      <!-- Nome da Ação Social e Link de Mais Informações -->
      <div class="volunteer-header">
        <h3 class="volunteer-action-name">Ação Exemplo</h3>
        <a routerLink="/volunteer-details" class="volunteer-link"
          >+ Mais info.</a
        >
      </div>

      <!-- Separador -->
      <ion-segment class="segment-separator"></ion-segment>

      <!-- Estatísticas de Voluntariado (Vagas) e Botão Participar -->
      <div class="volunteer-stats">
        <!-- Ícones com Total de Vagas e Vagas Disponíveis -->
        <div class="volunteer-stat">
          <div class="stat-icon total">
            <ion-icon name="person"></ion-icon>
            <span class="stat-number">20</span>
          </div>
          <span class="stat-label">Total</span>
        </div>
        <div class="volunteer-stat">
          <div class="stat-icon disponivel">
            <ion-icon name="person"></ion-icon>
            <span class="stat-number">3</span>
          </div>
          <span class="stat-label">Disponíveis</span>
        </div>

        <!-- Botão Participar -->
        <div class="volunteer-participate">
          <ion-button class="participate-button">
            <ion-icon slot="start" name="hand-left-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Botão Flutuante de Ação -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Scroll Infinito para as Notícias -->
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais notícias..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
