<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <img
      src="../../assets/img/logo-icon.png"
      alt="logo-icon"
      class="logo-icon"
      slot="start"
    />
    <img
      src="../../assets/img/logo-letter.png"
      alt="logo-letter"
      class="logo-letter"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de Pesquisa -->
  <div class="search-bar">
    <ion-icon name="location-outline" class="icon"></ion-icon>
    <ion-searchbar
      placeholder="Pesquisar..."
      class="search-input"
    ></ion-searchbar>
    <ion-icon name="funnel-outline" class="icon"></ion-icon>
  </div>

  <!-- Seção Ações de Voluntariado -->
  <h2 class="section-title">Ações do Voluntariado</h2>
  <div class="filters">
    <ion-button class="filter-button active">Todos</ion-button>
    <ion-button class="filter-button">Recente</ion-button>
  </div>

  <!-- Lista de Ações de Voluntariado -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let project of projects">
        <ion-card class="volunteer-card">
          <!-- Imagem do Cartão com Legenda da Empresa -->
          <ion-img
            [src]="project.mainImage || '../../../assets/img/default-card.png'"
            class="volunteer-img"
          ></ion-img>

          <div class="image-caption">
            <span class="company-name">{{ project.organization }}</span>
          </div>

          <!-- Conteúdo do Card -->
          <ion-card-content class="volunteer-content">
            <!-- Nome da Ação Social e Link de Mais Informações -->
            <div class="volunteer-header">
              <h3 class="volunteer-action-name">{{ project.title }}</h3>
              <a
                [routerLink]="['/volunteer-details', project.id]"
                class="volunteer-link"
                >+ Mais info.</a
              >
            </div>

            <!-- Separador -->
            <ion-segment class="segment-separator"></ion-segment>

            <!-- Estatísticas de Voluntariado (Vagas) e Botão Participar -->
            <div class="volunteer-stats">
              <div class="volunteer-stat">
                <div class="stat-icon total">
                  <ion-icon name="person"></ion-icon>
                  <span class="stat-number">{{ project.totalSpots }}</span>
                </div>
                <span class="stat-label">Total</span>
              </div>
              <div class="volunteer-stat">
                <div class="stat-icon disponivel">
                  <ion-icon name="person"></ion-icon>
                  <span class="stat-number"
                    >{{ project.totalSpots - project.filledSpots }}</span
                  >
                </div>
                <span class="stat-label">Disponíveis</span>
              </div>

              <!-- Botão Participar -->
              <div class="volunteer-participate">
                <ion-button
                  class="participate-button"
                  [routerLink]="'/volunteer-signup/' + project.id"
                >
                  <ion-icon slot="start" name="hand-left-outline"></ion-icon>
                  Participar
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botão Flutuante de Ação -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-project'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
