// ion-toolbar {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .logo-icon {
//   position: absolute;
//   left: 10px;  /* Ajusta a posição da logo */
//   width: 40px; /* Tamanho da imagem da logo */
//   height: auto;
// }

// .logo-letter {
//   width: 150px;  /* Tamanho da imagem da escrita */
//   height: auto;
//   /* A logo letter já estará centralizada porque o ion-toolbar usa flexbox para centralizar elementos */
// }

ion-header {
  box-shadow: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1); 
}

ion-toolbar {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-icon {
  position: absolute;
  left: 10px;  
  width: 40px; 
  height: auto;
}

.logo-letter {
  margin: 0 auto;
  width: 150px;  
  height: auto;
  display: block; 
}


ion-content{
  --background: #eeee;
}







/* Barra de Pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.search-input {
  flex-grow: 1;
  margin: 0 10px;
}


.search-input {
  flex-grow: 1;
  --border-radius: 10px;
  --placeholder-color: #999;
  --padding-start: 10px;
  --padding-end: 10px;
  --color: #333;
  --icon-color: #ff4081;
}

.icon {
  font-size: 24px;
}

/* Títulos das Seções */
.section-title {
  padding: 10px 0 0 10px;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}

/* Notícias */
.news-card {
  border-radius: 12px;
  overflow: hidden;
}

.news-content {
  text-align: center;
  padding: 5px;
}

.news-date {
  font-weight: bold;
  margin: 0;
  font-size: 0.9em;
}

.news-text {
  font-size: 0.8em;
}

/* Filtros de Ações */
.filters {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.filter-button {
  border-radius: 50%;
  padding: 0 5px;
  --background: #f1c2d8a3;
  color: white;
  font-size: 12px;
  box-shadow: none !important;
  border: none !important;
}



/* Card de Voluntariado */
.volunteer-card {
  border-radius: 15px;
  overflow: hidden;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 70%;
}

.volunteer-img {
  border-radius: 15px 15px 0 0;
  height: 200px;
  object-fit: contain; /* Garante que a imagem não seja cortada */
}

.volunteer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.volunteer-team {
  color: #ff4081;
  font-weight: bold;
}

.volunteer-link {
  color: #ff4081;
}

.volunteer-action {
  margin-top: 5px;
  color: #333;
}

.volunteer-slots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.volunteer-item {
  --background: transparent;
  --padding-start: 0;
  font-size: 0.85em;
}

.volunteer-item ion-icon {
  margin-right: 5px;
}
