/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-header {
  box-shadow: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: rgba(254, 254, 254, 0.568);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(254, 254, 254, 0.943);

  .logo-icon {
    position: absolute;
    left: 10px;
    width: 40px;
    height: auto;
  }

  .logo-letter {
    margin: 0 auto;
    width: 150px;
    height: auto;
    display: block;
  }
}

ion-content {
  --background: #eeee;
}

/* Barra de Pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.search-input {
  flex-grow: 1;
  margin: 0 10px;
}

.search-input {
  flex-grow: 1;
  --border-radius: 10px;
  --placeholder-color: #999;
  --padding-start: 10px;
  --padding-end: 10px;
  --color: #333;
  --icon-color: #ff4081;
}

.icon {
  font-size: 24px;
}

.btn-geral {
  margin-top: 20px;
  --background: linear-gradient(to right, #75004e, #db0092);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 30px;
  height: 50px;
  text-transform: uppercase;
}

.btn-google {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 18px;
  border-radius: 30px;
  height: 50px;
}

// rascunho telas perfil
// .profile-header {
//   position: relative;
//   img {
//     width: 100%;
//     height: 150px;
//     object-fit: cover;
//   }
//   .profile-info {
//     position: absolute;
//     bottom: -25px;
//     left: 50%;
//     transform: translateX(-50%);
//     text-align: center;
//     h2 {
//       margin: 0;
//     }
//   }
// }

// .hours {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   p {
//     font-weight: bold;
//   }
// }

// .hours-list ion-card {
//   margin: 10px 0;
// }

// .modal-details {
//   text-align: center;
//   h3 {
//     font-size: 24px;
//     color: #e91e63;
//   }
//   .time p {
//     font-size: 16px;
//   }
// }
