<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Informações do projeto -->
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input
        [(ngModel)]="project.title"
        placeholder="Título do projeto"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Área</ion-label>
      <ion-input
        [(ngModel)]="project.area"
        placeholder="Área do projeto"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Organização</ion-label>
      <ion-input
        [(ngModel)]="project.organization"
        placeholder="Nome da organização"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail da Organização</ion-label>
      <ion-input
        [(ngModel)]="project.organizationEmail"
        type="email"
        placeholder="email@exemplo.com"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone da Organização</ion-label>
      <ion-input
        [(ngModel)]="project.organizationPhone"
        placeholder="Telefone"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Início</ion-label>
      <ion-datetime
        [(ngModel)]="project.startDate"
        display-format="YYYY-MM-DD"
        placeholder="Selecione a data"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Término</ion-label>
      <ion-datetime
        [(ngModel)]="project.endDate"
        display-format="YYYY-MM-DD"
        placeholder="Selecione a data"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de Vagas</ion-label>
      <ion-input
        [(ngModel)]="project.totalSpots"
        type="number"
        placeholder="Número de vagas disponíveis"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea
        [(ngModel)]="project.description"
        placeholder="Descrição do projeto"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora de Início</ion-label>
      <ion-input
        [(ngModel)]="project.startTime"
        placeholder="HH:MM"
        type="time"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora de Término</ion-label>
      <ion-input
        [(ngModel)]="project.endTime"
        placeholder="HH:MM"
        type="time"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Recursos</ion-label>
      <ion-textarea
        [(ngModel)]="project.resources"
        placeholder="Descreva os recursos necessários"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor por Hora</ion-label>
      <ion-input
        [(ngModel)]="project.hoursValue"
        type="number"
        placeholder="Ex.: 50.00"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Imagens Secundárias</ion-label>
      <ion-input
        [(ngModel)]="project.secondaryImages"
        placeholder="URLs separadas por vírgulas"
      ></ion-input>
    </ion-item>

    <!-- Endereço -->
    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input
        [(ngModel)]="project.address.city"
        placeholder="Cidade"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input
        [(ngModel)]="project.address.state"
        placeholder="Estado"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">País</ion-label>
      <ion-input
        [(ngModel)]="project.address.country"
        placeholder="País"
      ></ion-input>
    </ion-item>

    <!-- Tarefas -->
    <ion-item-divider>Tarefas</ion-item-divider>
    <ion-item *ngFor="let task of project.tasks; let i = index">
      <ion-label>
        <h2>{{ task.name }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="removeTask(i)">Remover</ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Título da Tarefa</ion-label>
      <ion-input
        [(ngModel)]="newTask.name"
        placeholder="Título da tarefa"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição da Tarefa</ion-label>
      <ion-textarea
        [(ngModel)]="newTask.description"
        placeholder="Descrição da tarefa"
      ></ion-textarea>
    </ion-item>

    <ion-button expand="block" (click)="addTask()">Adicionar Tarefa</ion-button>

    <!-- Skills -->
    <ion-item-divider>Habilidades</ion-item-divider>
    <ion-item *ngFor="let skill of project.skillsRequired; let i = index">
      <ion-label>{{ skill }}</ion-label>
      <ion-button (click)="removeSkill(i)">Remove</ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nova Habilidade</ion-label>
      <ion-input
        [(ngModel)]="newSkill"
        placeholder="Adicione uma habilidade"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addSkill()"
      >Adicionar Habilidade</ion-button
    >

    <!-- Botão para criar projeto -->
    <ion-button expand="block" color="primary" (click)="createProject()"
      >Criar Projeto</ion-button
    >
  </ion-list>
</ion-content>
